django>=4.2
djangorestframework
djangorestframework-simplejwt
django-cors-headers
pymongo
python-dotenv
bcrypt
PyJWT
openpyxl 

# Scanner
langchain
faiss-cpu
ollama
pyyaml
langchain_community
langchain-core
langchain-ollama
tqdm
psycopg-binary
psutil